<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css"
</head>

<body>
  <div id="menu">
  <a href="/">Home</a>
  <a id="ok" href="/popularnews">Popular News</a>
  <a href="/search">Search</a>
  <a href="/resources">Resources</a>
  </div>

  <div id="page-wrap">

	{{{body}}}
  </div>
</body>
</html>