<h2>Resources</h2>
<p>
    Download a list of country codes 
    <a href="/country_codes.csv" download>here</a>.
    <br>
    If you would like to contact our team, please <a href="mailto: abc@example.com">send us an email</a>.
</p>