<h2>Search</h2>

<div>
    <img src="/images/search.jpg" class="w-25 h-25">
    <p>Photo by <a href="https://pixabay.com/users/publicdomainpictures-14/">PublicDomainPictures</a>
    on <a href="https://pixabay.com/photos/concept-document-focus-letter-18290/">Pixabay</a></p>
</div>


<form>
    <fieldset>
        <legend>News Search</legend>
        <p>
            (powered by <a href="https://developer.nytimes.com/apis">The New York Times</a>)
        </p>
        <p>
            <label for="search">Search for anything:</label>
            <input type="text" name="search" id="search">
        </p>
        <p>
            <input type="submit" id="formSubmit">
        </p>
    </fieldset>
</form>

<ul id="results"></ul>

<script src="/js/search.js"></script>


  
